<body>
  <!-- Page Content -->
  <div class="container text-center">
    <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Registrarse</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Nombre</label>
      <div class="col-md-4">
      <input id="name" name="name" type="text" placeholder="" class="form-control input-md">
      <span class="help-block">Ingrese su nombre</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="surname">Apellido</label>
      <div class="col-md-4">
      <input id="surname" name="surname" type="text" placeholder="" class="form-control input-md">
      <span class="help-block">Ingrese su apellido</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">E-mail</label>
      <div class="col-md-4">
      <input id="email" name="email" type="text" placeholder="" class="form-control input-md">
      <span class="help-block">Ingrese su e-mail</span>
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Contraseña</label>
      <div class="col-md-4">
        <input id="password" name="password" type="password" placeholder="" class="form-control input-md">
        <span class="help-block">Ingrese su contraseña</span>
      </div>
    </div>

    <!-- Multiple Checkboxes -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="inlineFormCustomSelect">Tipo de usuario</label>
        <select class="custom-select col-md-4" id="inlineFormCustomSelect">
          <option selected>Seleccionar...</option>
          <option value="1">Paciente</option>
          <option value="2">Especialista</option>
          <option value="3">Recepcionista</option>
        </select>
    </div>
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="buttonRegistry"></label>
      <div class="col-md-4">
        <button id="buttonRegistry" name="buttonRegistry" class="btn btn-success">Registrarse</button>
      </div>
    </div>

    </fieldset>
    </form>
  </div>
</body>
