<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--author:starttemplate-->
<!--reference site : starttemplate.com-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
    content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form">
  <meta name="author" content="leamug">
  <!-- Bootstrap core Library -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <!-- Font Awesome-->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <!-- Page Content -->
  <div class="container text-center">
    <div class="row text-center">
      <div class="col-md-offset-5 col-md-4 text-center">
        <h1>Bienvenido a Buena Sonrisa</h1>
        <span class="icon-bar">
          <i class="fa fa-tooth"></i>
        </span>
        <div class="form-login"><br>
          <h4>Ingreso al sistema de turnos</h4>
          <br>
          <input type="email" [(ngModel)]="user.email" name='email' id="userName"
            class="form-control input-sm chat-input" placeholder="Emails" />
          <br><br>
          <input type="password" id="userPassword" [(ngModel)]="user.clave" name="clave"
            class="form-control input-sm chat-input" placeholder="Contraseña" />
          <br><br>
          <div class="wrapper">
            <div class="form-group">
              <span class="group-btn">
                <button type="submit" class="btn btn-block btn-primary btn-md">
                  Ingresar <i class="fa fa-sign-in"> </i></button>
                <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                  <span class="fa fa-facebook"></span>
                  Facebook
                </button>
                <button class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()">
                  <span class="fa fa-google"></span>
                  Google
                </button>
                <button type="submit" class="btn btn-block btn-warning btn-md" routerLink="/registrarse">
                  Registrarse <i class="far fa-id-card-alt"></i>
                </button>
              </span>
            </div>
          </div>
          <a href="#" class="btn btn-link" style="font-size: 18px;">
            Se olvido la contraseña?
          </a>
        </div>
      </div>
      <br><br><br>

    </div>
    <!--footer-->
    <div class="footer text-white text-center"> Created by Mayra Lapalma
    </div>
    <!--//footer-->
  </div>
</body>

</html>
